@font-face {
    font-family: comicfont;
    src: url(../assets/fonts/BADABB__.TTF);
}

@font-face {
    font-family: button-comic-font;
    src: url(../assets/fonts/ObelixPro-Broken-cyr.ttf);
}

body {
  background-color: #FDD476;
}

h1 {
  font-size: 8em;
}

h3 {
  font-size: 2em;
}

ul {
  list-style-type: none;
}

.title {
  font-family: comicfont, Helvetica;
}

#communication { 
  font-family: button-comic-font;
}
.container-fluid {
  margin:auto;
  min-width: 800px;

}

#game-screen {
  background-color: rgba(0,0,0,0.4);
  display: inline-block;
  border-radius: 15px;
  padding-right: 80px;
  margin-left: 25px;
  min-height:400px;
  max-width:900px;
}

.cup {
  min-width: 80px;
  min-height: 80px;
  position: relative;
  display: inline-block;
  margin: 100px;
  margin-left: 80px;
}


#create-container {
  position:relative;
  display: inline-block;
  clear:both;
  min-height: 60px;
}

#create-buttons {
  display:none;
  margin-left: 40px;
}

#create-buttons button {
  margin-left:20px;
}

.create-move:last-child {
  margin-left: 80px;
}

.create-move {
  position:relative;
  display: inline;
  margin: 0 60px;
}

.cup:last-child {
  margin-right: 160px;
}

.ball {
  margin-top: 40px;
  margin-left: 65px;
  max-width: 25px;
  min-height: 15px;
  background-color: blue;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  border:1px solid black;
}

.cup-overlay {
  min-width: 150px;
  min-height: 150px;
  background-color: red;
  position: absolute;
  float: left;
  z-index: 2;
  top: 0;
  left: 0;
  background: url("../assets/img/shell.png");
}

#game-buttons {
  min-height:150px;
}

#game-buttons button {
  min-width: 150px;
  margin: 50px;
}

.scoreboard {
  background-color: #96D2ED;
  min-height: 1200px;
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/*MEDIA QUERIES*/
@media only screen and (max-width : 1200px) {
  .scoreboard {
    min-height:100px;
    margin:0;
  }
  .scoreboard h3 {
    margin:0;
  }
  #game-screen {
    margin-left:125px;
  }
}
